.table-app {
    width : 80%;
    align : center;
    
}

.td-app {
    width : 32%;
    align : center;
    font-size : 16pt;
}


.link-app:link, .link-app:visited {
    color : black;
    text-align : center;
    text-decoration : none;
    display : inline-block;
}

.link-app:hover, .link-app:active {
    text-decoration : underline;
}
