<!DOCTYPE html>
<html lang="en">
<head>
  <title>Branded Consultancy Portal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/custom.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    
    .row.content {
      min-height: 550px;
      max-height: 1024px;
    }
    
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    #content-footer {
    vertical-align: bottom;
    font-size: 14px;
    }

    
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
	{% if current_user.is_authenticated %}
	
        <li class={{'active' if '/dashboard' in request.url else ''}}><a href="/dashboard">My Dashboard</a></li>
	<li class={{'active' if '/billing' in request.url else ''}}><a href="/billing">Billing</a></li>
	
	{% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
	{% if not current_user.is_authenticated %}
	<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% else %}
	<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        {% endif %}
        
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-8 text-left">
      {% block content %} {% endblock %}
      <hr>
      <div id="content-footer">
	{% if current_user.is_authenticated %}
	Logged in as {{current_user.username}}
	{% endif %}
	</div>
    </div>
    <div class="col-sm-2 sidenav">
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Branded Consultancy Ltd<br>
    +44 000000000<br>
    enquiries@brandedconsultancy.com</p>
</footer>

</body>
</html>
