{% extends "base.html" %}

{% block content %}
<h1>Billing</h1>
No billing information at this time.
<table>
  <tr>
    <th>      
    </th>
    
    <th>
    </th>
    
    <th>
    </th>
  </tr>
</table>
{% endblock %}

