{% extends "base.html" %}

{% block content %}
<h1>Your apps</h1>

<center>
<table class="table-app">
{% for app in apps %}

{% if loop.index0%3 == 0 %}
<tr>
{% endif %}
  
<td class="td-app">
  <a class="link-app" href={{"view?id="~ app.id|string }}>{{app.description}}</a><br>
</td>  

{% if loop.index0%3 == 2 %}
</tr>
{% endif %}

{% endfor %}
</table>
</center>
{% endblock %}

{% block bottom %}
Logged in as {{current_user.username}}
{% endblock %}
